
<div class="cookie">
    <img src="https://www.svgrepo.com/show/78507/cookies.svg" id="cookieImage" width="60px" height="60px" alt="">
    <h4>We Use Cookies and Location Tracking</h4>
    <h5>This website uses cookies and location data to provide an unparalleled user-experience</h5>
    <button class="cookieBtn">Accept All</button>
      </div>
